.float_window{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 50%;
    /*border: 2px solid green;*/
}

/*Ventana en la que se imprime la tabla para los diferentes listados*/
/* .service_list{
    border: 2px solid greenyellow;
    padding-left: 1%;
    height: 100%;
    margin: none;
    animation-name: servicelistoff;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
} */

/* .service_list_on{
    overflow-y: scroll;
    animation-name: serviceliston;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    height: 100%;
} */

@keyframes serviceliston {
    0%{
        width: 100%;
    }
    100%{
        width: 70%;
    }
}

@keyframes servicelistoff {
    0%{
        width: 70%;
    }
    100%{
        width: 100%;
    }
}

.service_edit{
    /*border:1px solid black;*/
    height: 100%;
    content-visibility: hidden;
    animation-name: serviceeditoff;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

.service_edit_on{
    text-justify: center;
    padding-left: 10px;
    padding-right: 10px;
    content-visibility: visible;
    animation-name: serviceediton;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes serviceediton {
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}

@keyframes serviceeditoff {
    0%{
        width: 30%;
    }
    100%{
        width: 0%;
    }
}


/*MODAL*/
/* Crea modal flotante en medio de la pantalla */
.floatmodal{
    position: absolute;
    min-width: 10%;
    min-height: 10%;
    max-width: 80%;
    max-height: 90%;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: auto 90% auto;
    /* border: 4px solid green; */
    border-radius: 15px;
    background-color: #EEF0F2;
    animation-name: open_float;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
.floatcontent{
    grid-column: 2/3;
    text-align: center;
    align-items: center;
    /*align-content: center; */
    border: 2px solid salmon;
}

@keyframes open_float{
    0%{
        scale: 0.2;
    }
    100%{
        scale: 1;
    }
}
/*FIN MODAL*/


.adicion{
    position: absolute;
    display: grid;
    border-radius: 10px;
    grid-template-rows: 10% auto;
    top: 10%;
    left: 25%; 
    align-self: center;
    justify-items: center;
    border: 2px solid rgba(0, 0, 0, 0,2);
    background-color: rgba(248, 248, 247, 0.699);
    width: 60%;
    height: 80vh;
     justify-items: center; 
    overflow-y: scroll;
   
}

h1{
    text-align: center;
  padding: 20px 0;
  color: black;
-webkit-text-stroke: 0.9px grey !important;
}

#deporteadicion{
    position: absolute;
    display: grid;
    border-radius: 10px;
    grid-template-rows: 20% auto;
    top: 10%;
    left: 25%;
    border: 2px solid rgba(0, 0, 0, 0,2);
    background-color: rgba(248, 248, 247, 0.699);
    width: 60%;
    height: 40vh;
    justify-items: center;
}


.adicion_off{
    visibility: hidden;
}

.adicion_title{
    width: 90%;
   

}

.adicion_content{
    width: 90%;
    align-items: center;
   
}


#addsed{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.table{
    width: auto;
}

#estadopago{
    display: flex;
    justify-content: space-around;
}

#dashboard_by_category{
    width: 100%;
    height: fit-content;
    /*border: 2px solid yellow;*/
    display: grid;
    grid-template-columns: auto auto;
}

.dashboardcategory{
    grid-column: span 1;
    /*border: 2px solid green;*/
}

#dashcatselect{
    grid-column: span 2;
    justify-content: center;
    text-align: center;
}

.dash_hide{
    visibility: hidden;
    height: 0;
    width: 0;
}

#cat_1{
    grid-column: span 2;
}

#cat_2{
    grid-column: span 2;
}

.addbtn{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }