@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap');
body {
    font-size: 140%;

  }

  h2 {

    text-align: center;
    padding: 20px 0;
    color: black;
    -webkit-text-stroke: 0.9px grey !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;

  }

  table caption {
      padding: .5em 0;
  }

  table.dataTable th,
  table.dataTable td {
    white-space: nowrap;
  }

  .p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }

  .dataTable-selector {
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    border-radius: 5px;

    background-color: rgba(245, 241, 241, 0.1);
    border: 0ch;
  }
  label{
    font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;

    font-weight: bold;



  }

  .dataTable-input{
    font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;

  color: black !important;
  font-weight: bold;
  border: 0ch;
  background-color: rgba(202, 199, 199, 0.1);
  border-radius: 5px;
  width: 100%;
  }

  .dataTable-sorter{
color: black;
  -webkit-text-stroke: 0.5px black;
  }

   /* .form-check-input:checked{
   background-color: blue;

  } */

  .dataTable-info{
    font-family: 'Source Sans Pro', sans-serif;
  text-align: justify;
  color: black !important;
  font-weight: bold;


  }



  .service_list_on{
  background-color: rgba(228, 222, 215, 0.158);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2);
  }

  td{
    font-family: 'Source Sans Pro', sans-serif;
    color: black !important;
    font-weight: bold;



  }

